.product-details-area .product-description-wrapper .product-title {
    font-size: 23px;
    font-weight: bold;
}

.btn-styled:hover {
    background: transparent !important;
    color: #dc3545 !important;
    box-shadow: unset !important;
    border: 1px solid;
}

.btn-link {
    color: #dc3545;
}

.btn-link:hover {
    text-decoration: none;
}

.no-gutters,
.seller-info-box,
.seller-top-products-box,
.product-desc-tab {
    background: white;
}

.social-media.social-media--style-1-v4 > li > a {
    color: #dc3545 !important;
}

.seller-info-box,
.seller-top-products-box {
    border-left: 4px solid #dc3545 !important;
}

/* .seller-info-box .sold-by,
.sidebar-box .box-title {
    background-color: white !important;
} */

.product-box-3 .product-image img {
    height: 88px !important;
    width: 100%;
}

.jssocials-share-link {
    border-radius: 5px;
}

.jssocials-share:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
}

.jssocials-share {
    transition: 0.5s;
}

.product-box-3:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 8px;
    overflow: hidden;
}

.tabs--style-1 .nav-tabs > li > a.active,
.tabs--style-1 .nav-tabs > li:first-child > a.active,
.tabs--style-2 .nav-tabs .nav-item.show .nav-link,
.tabs--style-2 .nav-tabs .nav-link.active,
.tabs--style-2 .nav-tabs .nav-link:hover {
    border-bottom: 3px solid !important;
}

.tab-pane .mw-100 .pdp-mod-section-title {
    display: none;
}

.product-box-2 .product-image img {
    height: 250px !important;
    width: 100%;
}
